{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h3>{{ question.name }}</h3>
            <div class="card">
                {% if question.description %}
                    <div class="card-body">
                        <p class="card-text">{{ question.description }}</p>
                    </div>
                {% endif %}
                {% if question.date %}
                    <div class="card-footer text-muted small">
                        {{ question.date|date("m/d/Y h:i a") }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if question.answers %}
        <hr>
        <h4 class="text-center">Answers</h4>
        <div class="row">
            <div class="col-8 offset-2">
                {% for answer in question.answers %}
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">{{ answer.body }}</p>
                        </div>
                        <div class="card-footer text-muted small">
                            {{ answer.user.email }} - {{ answer.created|date("m/d/Y h:i a") }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if answerForm %}
        <hr>
        <div class="row">
            <div class="col-8 offset-2">
                {{ form(answerForm) }}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
