{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Hello world</h1>
        {% for question in questions %}
            <div class="card mb-3">
                <div class="card-body bg-light">
                    <div class="row">
                        <div class="col-2">
                            <div class="row">
                                <div class="col-6 text-center">
                                    {{ question.answers|length }}
                                    <br>
                                    <small>answers</small>
                                </div>
                                <div class="col-6 text-center">
                                    {{ question.views }}
                                    <br>
                                    <small>views</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-10">
                            <h5 class="card-title"><a href="{{ path('question', { 'id': question.id }) }}">{{ question.name }}</a></h5>
                            <p class="card-text text-muted small">asked by {{ question.relation.email }} {{ question.date|date("m/d/Y h:i a") }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Not found questions</p>
        {% endfor %}
    </div>
{% endblock %}